.edit{
    background-color: rgb(54, 172, 211);
    font-size: medium;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.30);
    margin-bottom: 30%;
}

.delete{
    background-color: rgb(255, 83, 30);
    font-size: medium;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.30);
    margin-bottom: 30%;
}
.button{
    background-color: rgb(108, 182, 255);
    font-size: medium;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    border: 1px solid rgba(255,255,255,0.30);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    margin-bottom: 5%;
}
 
.addnew{
    justify-content: right;
    align-items: right;
    display: flex;
}
.heading{
    margin-top: 5%;
    align-items: center;
    justify-content: left;
    display: flex;
    color: rgb(0, 0, 0);
}

.icon-container
{
    margin-right : 20px;
}