<!-- <!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<body>
    <div class="background">
        <div class="window">
            <div class="menu">
                <div >
                    <h2 class="heading">Admin Dashboard</h2><br>
                    <button class="button" routerLink="/EmpReg">Add Employee</button><br><br>
                    <button class="button" routerLink="/employeeInformation" >Employee Information</button><br><br>
                    <button class="button" routerLink = "/projectInformation" >Project Information</button><br><br>
                    <button class="button" >View Attendance Requests</button><br><br>
                    <button class="button" routerLink = "/viewLeaveRequest">View Leave Requests </button><br><br>
                    
                </div>

                
            </div>
               
        </div>
       
    </div>
</body>
<!-- </html> -->