<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
        <div class="Parent">
            <div class ="Selector">
                <div class="Heading">
                    <h2>Leave and Attendance Portal</h2>
                </div>
                <div>
                    <button class="Admbtn" routerLink = "/admin">Admin</button>
                    <button class="Empbtn" routerLink="/employee">Employee</button>
                </div>
            </div>
        </div>
</body>
</html>