
<body>
    <div class="background">
        <div class="window">
            <div class="menu">
                <div >
                    <h2 class="heading">Employee Dashboard</h2><br>
                    <button class="button" routerLink="/employeeDashboard/employeemark">Mark Attendance</button><br><br>
                    <button class="button">View attendance status</button><br><br>
                    <button class="button" routerLink = "/applyLeaves">Request a leave</button><br><br>
                    <button class="button" routerLink = "/">View leave requests</button><br><br>
                </div>
            </div>
               
        </div>
       
    </div>
</body>