<form #form = "ngForm">
<body>
    <div class="background">
        <div class="window">
            <div class="menu">
                <div >
                    <h2 class="heading">Manager Dashboard</h2><br>
                    <button class="button" routerLink="/">Mark Attendance</button><br><br>
                    <button class="button" routerLink = "/leaveRequest">Manage Leave requests</button><br><br>
                    <button class="button">View project attendance</button><br><br>
                </div>
            </div>
               
        </div>
       
    </div>
</body>
</form>
